.card {
    font-family: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Inter, "Helvetica Neue",sans-serif;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: white;
}

pre {
    padding: 1em;
    border-radius: 3px;
}

/*The following css was generated for ruby-rouge using pygments with the
 * one-dark style.*/
pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
pre.rouge .hll { background-color: #ffffcc }
pre.rouge { background: #282C34; color: #ABB2BF }
pre.rouge .c { color: #7F848E } /* Comment */
pre.rouge .err { color: #ABB2BF } /* Error */
pre.rouge .esc { color: #ABB2BF } /* Escape */
pre.rouge .g { color: #ABB2BF } /* Generic */
pre.rouge .k { color: #C678DD } /* Keyword */
pre.rouge .l { color: #ABB2BF } /* Literal */
pre.rouge .n { color: #E06C75 } /* Name */
pre.rouge .o { color: #56B6C2 } /* Operator */
pre.rouge .x { color: #ABB2BF } /* Other */
pre.rouge .p { color: #ABB2BF } /* Punctuation */
pre.rouge .ch { color: #7F848E } /* Comment.Hashbang */
pre.rouge .cm { color: #7F848E } /* Comment.Multiline */
pre.rouge .cp { color: #7F848E } /* Comment.Preproc */
pre.rouge .cpf { color: #7F848E } /* Comment.PreprocFile */
pre.rouge .c1 { color: #7F848E } /* Comment.Single */
pre.rouge .cs { color: #7F848E } /* Comment.Special */
pre.rouge .gd { color: #ABB2BF } /* Generic.Deleted */
pre.rouge .ge { color: #ABB2BF } /* Generic.Emph */
pre.rouge .ges { color: #ABB2BF } /* Generic.EmphStrong */
pre.rouge .gr { color: #ABB2BF } /* Generic.Error */
pre.rouge .gh { color: #ABB2BF } /* Generic.Heading */
pre.rouge .gi { color: #ABB2BF } /* Generic.Inserted */
pre.rouge .go { color: #ABB2BF } /* Generic.Output */
pre.rouge .gp { color: #ABB2BF } /* Generic.Prompt */
pre.rouge .gs { color: #ABB2BF } /* Generic.Strong */
pre.rouge .gu { color: #ABB2BF } /* Generic.Subheading */
pre.rouge .gt { color: #ABB2BF } /* Generic.Traceback */
pre.rouge .kc { color: #E5C07B } /* Keyword.Constant */
pre.rouge .kd { color: #C678DD } /* Keyword.Declaration */
pre.rouge .kn { color: #C678DD } /* Keyword.Namespace */
pre.rouge .kp { color: #C678DD } /* Keyword.Pseudo */
pre.rouge .kr { color: #C678DD } /* Keyword.Reserved */
pre.rouge .kt { color: #E5C07B } /* Keyword.Type */
pre.rouge .ld { color: #ABB2BF } /* Literal.Date */
pre.rouge .m { color: #D19A66 } /* Literal.Number */
pre.rouge .s { color: #98C379 } /* Literal.String */
pre.rouge .na { color: #E06C75 } /* Name.Attribute */
pre.rouge .nb { color: #E5C07B } /* Name.Builtin */
pre.rouge .nc { color: #E5C07B } /* Name.Class */
pre.rouge .no { color: #E06C75 } /* Name.Constant */
pre.rouge .nd { color: #61AFEF } /* Name.Decorator */
pre.rouge .ni { color: #E06C75 } /* Name.Entity */
pre.rouge .ne { color: #E06C75 } /* Name.Exception */
pre.rouge .nf { color: #61AFEF; font-weight: bold } /* Name.Function */
pre.rouge .nl { color: #E06C75 } /* Name.Label */
pre.rouge .nn { color: #E06C75 } /* Name.Namespace */
pre.rouge .nx { color: #E06C75 } /* Name.Other */
pre.rouge .py { color: #E06C75 } /* Name.Property */
pre.rouge .nt { color: #E06C75 } /* Name.Tag */
pre.rouge .nv { color: #E06C75 } /* Name.Variable */
pre.rouge .ow { color: #56B6C2 } /* Operator.Word */
pre.rouge .pm { color: #ABB2BF } /* Punctuation.Marker */
pre.rouge .w { color: #ABB2BF } /* Text.Whitespace */
pre.rouge .mb { color: #D19A66 } /* Literal.Number.Bin */
pre.rouge .mf { color: #D19A66 } /* Literal.Number.Float */
pre.rouge .mh { color: #D19A66 } /* Literal.Number.Hex */
pre.rouge .mi { color: #D19A66 } /* Literal.Number.Integer */
pre.rouge .mo { color: #D19A66 } /* Literal.Number.Oct */
pre.rouge .sa { color: #98C379 } /* Literal.String.Affix */
pre.rouge .sb { color: #98C379 } /* Literal.String.Backtick */
pre.rouge .sc { color: #98C379 } /* Literal.String.Char */
pre.rouge .dl { color: #98C379 } /* Literal.String.Delimiter */
pre.rouge .sd { color: #98C379 } /* Literal.String.Doc */
pre.rouge .s2 { color: #98C379 } /* Literal.String.Double */
pre.rouge .se { color: #98C379 } /* Literal.String.Escape */
pre.rouge .sh { color: #98C379 } /* Literal.String.Heredoc */
pre.rouge .si { color: #98C379 } /* Literal.String.Interpol */
pre.rouge .sx { color: #98C379 } /* Literal.String.Other */
pre.rouge .sr { color: #98C379 } /* Literal.String.Regex */
pre.rouge .s1 { color: #98C379 } /* Literal.String.Single */
pre.rouge .ss { color: #98C379 } /* Literal.String.Symbol */
pre.rouge .bp { color: #E5C07B } /* Name.Builtin.Pseudo */
pre.rouge .fm { color: #56B6C2; font-weight: bold } /* Name.Function.Magic */
pre.rouge .vc { color: #E06C75 } /* Name.Variable.Class */
pre.rouge .vg { color: #E06C75 } /* Name.Variable.Global */
pre.rouge .vi { color: #E06C75 } /* Name.Variable.Instance */
pre.rouge .vm { color: #E06C75 } /* Name.Variable.Magic */
pre.rouge .il { color: #D19A66 } /* Literal.Number.Integer.Long */
